body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('http://vignette4.wikia.nocookie.net/spongebob/images/7/74/-The-Spongebob-Squarepants-Movie-spongebob-squarepants-16980886-1360-768.jpg/revision/latest?cb=20141029114336');
  background-size: cover;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: black;
}

.title, .addDancerButton{
  color: yellow;

  padding:5px 12px;
  float:right;
}

.title, .addDancerButton2{
  background-color: yellow;
  padding:5px 12px;
  float:right;
}

.title, .addDancerButton3{
  
  padding:5px 12px;
  float:right;
}

.title, .addDancerButton4{
  background-color: yellow;
  padding:5px 12px;
  float:right;
}

.title, .lineUpButton{

  color: yellow;
  padding:5px 12px;
}

.topbar{
  height:32px;
  background-color: #00FFFF;
}
.title{
  background-color: #777;
}
.dancer, .breakDancer {

 
  position:absolute;
}

.dancer, .ballerinaDancer {
  
 /* border:10px solid green;*/
  height: 50%;
  width: 50%;
  border-radius:100px;
  position:absolute;
}

.dancer, .interpretiveDancer {
  
  position:absolute;
}

.dancer, .blinkyDancer {
  
  position:absolute;

}

/*.lineUpButton {
  position: relative;
  top: 50%;
  tansform: translateY(-50%);
}*/



